/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;

}

body{

 margin: 0 auto;
 font-family: sans-serif;
 font-weight: bold;


}
/* Algemeen  */


/* navigatie */

header nav{
  background-color:black;
  width: 100%
}

header nav + nav{

  background-color: white;
  border-bottom-style: solid;
  border-color: lightgrey;
  line-height: 3em;
}


nav ul{
  list-style: none;

  display: flex;
  justify-content: flex-start;

  width: 95%;
  margin: 0 auto;
  padding: 0;

}

 nav ul li:first-of-type{
  margin-right:auto;
}

nav ul li{

  margin: 0.5em;
  color: white;
  text-decoration: none;
  padding: 0em;


}

nav a{
  color: white;
  text-decoration: none;
  padding: 1em;
}

nav + nav a{
  color: black;
  width:100%;
}

nav a img{
  width:50%;
  transform:scale(0.8);
  float: left;
  padding: 0;
  margin: 0;
}

/* hamburgermenu */
.visually-hidden {
  /* bron: a11y */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
nav div{
  width: 100%;
  min-width: 2em;
}

nav fieldset{
border-style: none;
padding: 0;
}

form input{
  width:10vw;
  height:10vw;
  border-radius: 100%;
  background-color: lightgrey;
  border-style: solid;
  border-color: darkgrey;
  background-image: url("../images/zoeken.svg");
  background-position: center;
  outline: none;
  padding: 0.5em;


}

form input:focus{
  width: 30vw;
  border-radius: 20px;
  transition: 0.5s;

}
/* form input:focus + label img{
  transform: rotate(360deg);
  transition: 1s;
}

form input:checked + label img{
  width: 1em;
  transform: scale(1.2);
  transition: 1s;
  margin: 1em;

} */

form input:checked + label{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
 transition: 1s;


  background-color: #bbb;

  display:flex;
  justify-content: flex-end;
  align-items: flex-start;

}







/* content */
section{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section:first-of-type article:first-of-type{
width: 100%;
order: -1;
}

section article{
  width: 80%;
  align-items: center;
  margin: 0em;
  position: relative;
}

section h1{
  text-align: center;
  font-size: 300%;
  margin: 0
}

article h2{
  position: absolute;
  left: 0;
  bottom:0;
  margin: 0;
  color: white;
}

article img{
 width: 100%;
 margin: auto;


}

section:nth-of-type(even){
  width:100%;
  margin:auto;
  background-color:black;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

section:nth-of-type(even) h1{
  width:100%;
  text-align: center;
  color:white;
}

section:nth-of-type(even) ul{
  width: 100%;
  padding: 0%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section:nth-of-type(even) ul li{
  list-style: none;
  margin: 0;
  padding:0;
  flex-basis: 20em;
  flex-grow: 1;
  align-items: center;
  flex-basis: 20em;
  flex-grow: 1;
  align-items: center;
}

section:nth-of-type(even) article{
margin:auto;

}


section:nth-of-type(even) h2{
 color:white;
}

/* article img{
 width: 100%;
 position: relative;
} */

@media (min-width:650px){

    body{
      background-color: red;
    }

    section:first-of-type{
      display:grid;
      grid-template-rows: 1fr 5em 20% 20% 20%;
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;
      row-gap: 0;
      width: 80%;
      margin-bottom: 20%;
    }

    section:first-of-type h1{
      grid-column: 1 /-1;
      font-size: 500%;
    }

    section:first-of-type article:nth-of-type(odd){
      grid-column: 2 / 3;
      width: 100%;
    }

    section:first-of-type article:nth-of-type(even){
      grid-column: 1 / 2;
      width: 100%;
    }

    section:first-of-type article:first-of-type{
      grid-column: 1 / -1;
    }


    section:first-of-type article h2{
    bottom: 10%;
    margin: 1em;
    }


    section:nth-of-type(even){
     width:100%;
     background-color:black;
     /* display: flex;
     justify-content: center;

     flex-wrap: wrap;
     padding: 5% */
    }

    section:nth-of-type(even) article{
     flex-basis: 25em;


    }


    section:nth-of-type(even) h1{
     flex-basis: 100%;
     flex-wrap: wrap;
     color:white;
    }
}

@media (min-width:1050px){

    body{
      background-color: hotpink;
    }

    section:first-of-type{
      display:grid;
      /* grid-template-rows: 1fr 5em 20% 10% 10% 20%; */
      grid-template-rows: 1fr 5em auto auto auto auto;
      grid-template-columns: 1.6fr 1fr;
      column-gap: 2em;
      row-gap: 1em;
      width: 80%;

    }

    section:first-of-type h1{
      grid-column: 1 /-1;
      font-size: 500%;
    }

    section:first-of-type article:first-of-type{
      grid-column: 1 / -1;
      grid-row: 1/ 2;

    }

    section:first-of-type article:nth-of-type(2){
        grid-column: 1 / 2;
        grid-row: 3 / 5;

      }
    section:first-of-type article:nth-of-type(3){
      grid-column: 2 / 3;
      grid-row: 3 / 4;

      }
    section:first-of-type article:nth-of-type(4){
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        align-self: end;
      }
    section:first-of-type article:nth-of-type(5){
        grid-column: 2 / 3;
        grid-row: 4 / 6;
        align-self: center;

      }
    section:first-of-type article:nth-of-type(6){
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        align-self: end;
      }








    section:first-of-type article h2{
    bottom: 10%;
    margin: 1em;
    }


    section:nth-of-type(even){
     width:100%;
     background-color:black;
     display: flex;
     justify-content: center;

     flex-wrap: wrap;
     padding: 5%
    }

    section:nth-of-type(even) article{
     flex-basis: 30%;

    }


    section:nth-of-type(even) h1{
     flex-basis: 100%;
     flex-wrap: wrap;
     color:white;
    }
}

/* //aanpassingen voor de tweede pagina// */
aside{
  background-color: lightgrey;
}

aside nav ul{
  display: flex;

  flex-basis: 30em;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside nav li img {
width:100%;
}
figure img{
  width: 100%;
}

main h1{
  text-align: center;
}
main p{
font-weight: lighter;
text-align: center;
width: 80%;
margin: auto;
}
